<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Render Monitor</title>

    <script type="text/javascript" src="{{url_for('static',filename='dist/js/jquery-3.2.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='dist/jqueryui/jquery-ui.min.js')}}"></script>


    <script type="text/javascript" src="{{url_for('static',filename='dist/js/tabulator.min.js')}}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="{{url_for('static',filename='dist/css/custom.css')}}" rel="stylesheet">




    <title>Render Monitor</title>
</head>
<body>
    <div class="Content">
        <br>

        <h2 class="default"> <font color="#666666">RENDERS SUMMARY</font> </h2>

    <p><a href="{{ url_for('stats_dashboard') }}">Error Stats</a></p>

    <p id="debug">   </p>

    <div> Last updated: {{time|safe}}</div>

        <div class="SummaryBox" style="margin: 0px 0px 10px 0px">

            <div class="infoBox" style="width: 25%; height: 135px;">
                <div class="default" style="width: 200px"> <font size="5">Frames</font>
                    <br><br>
                    {% for i in frames_summary %}
                        <div class="row-item-small {{i}} default" style="white-space: pre; clear: left; float: left; width: 100px; margin: 0px">     {{i}}</div>
                        <div class="row-item-small {{i}} default" style="white-space: pre;float: left; margin: 4px">: {{frames_summary[i]}}</div>
                    {% endfor %}
                </div>
            </div>

            <div style="margin: 1.25%; float: left"><!-- Spacer --></div>

            <div class="infoBox" style="width: 45%; height: 135px;">
                <div class="default"> <font size="5">Time</font>
                    <br><br>
                    <div class="row-item-small default" style="white-space: pre-wrap; color: #0099cc;"><b>  Average Frame Render Time  : {{average_frame_time}}</b></div>
                    <br>
                    <div class="row-item-small default" style="white-space: pre-wrap; color: #0099cc"><b>  Total Render Time Left            : {{remaining_time}}</b> </div>
                </div>
            </div>

            <div style="margin: 1.25%; float: left"><!-- Spacer --></div>

            <div class="infoBox" style="width: 25%; height: 135px;">
                <div class="default" style="width: 200px"> <font size="5">Playouts</font>
                    <br><br>
                    {% for i in playouts_summary %}
                        <div class="row-item-small {{i}} default" style="white-space: pre; clear: left; float: left; width: 100px; margin: 4px">     {{i}}</div>
                        <div class="row-item-small {{i}} default" style="white-space: pre;float: left; margin: 4px">: {{playouts_summary[i]}}</div>
                    {% endfor %}
                </div>
            </div>

        </div>

        <div class="ButtonsRow">
            <button type="button" class="btn btn-default" onclick="CheckboxesState('true')">Select All</button>
            <button type="button" class="btn btn-default" onclick="CheckboxesState('false')">Select None</button>
            <button type="button" class="btn btn-default">Pause Selected</button>
            <button type="button" class="btn btn-default">Delete Selected</button>
            <button type="button" class="btn btn-default">Restart Selected</button>
        </div>
        {% for playout in data %}
        <div class="SummaryBox">
            <input class="CheckBox" type="checkbox" style="float: left">
            <div class="default" style="float: left"><font size="5">{{playout._name}}</font></div>

            <div class="CutsceneBox infoBox" onclick="playoutClick('{{playout._name}}')">

                {% set ns = namespace(Done=False) %}
                <div style="width: 70%; height: 160px; float: left">
                    <div class="row-item-medium default" style="float: left">Clip Export</div>

                    {% for subjob in playout._subjobs %}
                        {% if subjob._type == 'MainClip' %}
                            <div class="row-item-medium default" style="float: left; position: relative; left: 25px"><b>: <span class="{{subjob._status}}">{{subjob._status}}</span></b></div>
                        {% endif %}

                    {% endfor %}

                    <div class="row-item-medium default" style="clear: left; float: left">Sub Clips</div>
                    <div class="row-item-medium default" style="float: left; position: relative; left: 34px"><b>: <span class="{{playout._subclips_summary}}">{{playout._subclips_summary}}</span></b></div>

                    <div class="row-item-medium default" style="clear: left;float: left">RS Exports</div>
                    {% if playout._rs_exports_summary == 100 %}
                        <div class="row-item-medium default" style="float: left; position: relative; left: 23px"><b>: <span class="Done">{{playout._rs_exports_summary}} %</span></b></div>
                    {% else %}
                        <div class="row-item-medium default" style="float: left; position: relative; left: 23px"><b>: <span class="Busy">{{playout._rs_exports_summary}} %</span></b></div>
                    {% endif %}


                    <div class="row-item-medium default" style="clear: left;float: left">Renders</div>
                    {% if playout._renders_summary == 100 %}
                        <div class="row-item-medium default" style="float: left; position: relative; left: 41px"><b>: <span class="Done">{{playout._renders_summary}} %</span></b></div>
                    {% else %}
                        <div class="row-item-medium default" style="float: left; position: relative; left: 41px"><b>: <span class="Busy">{{playout._renders_summary}} %</span></b></div>
                    {% endif %}

                    <div class="row-item-medium default" style="clear: left;float: left">Video</div>
                    {% if playout._video_output == "Done" %}
                        <div class="row-item-medium default" style="float: left; position: relative; left: 58.5px"><b>: <span class="Done">{{playout._video_output}}</span></b></div>
                    {% else %}
                        <div class="row-item-medium default" style="float: left; position: relative; left: 58.5px"><b>: <span class="Busy">{{playout._video_output}}</span></b></div>
                    {% endif %}
                </div>

                <div style="width: 70px; position: relative; left: 100%; bottom: 95%">
                    <button type="button" class="btn btn-default" style="width: 75px; transform: translate(-100%,0)">Pause</button>
                    <button type="button" class="btn btn-default" style="width: 75px; transform: translate(-100%,0)">Restart</button>
                    <button type="button" class="btn btn-default" style="width: 75px; transform: translate(-100%,0)">Delete</button>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        function playoutClick(playout_name){
            window.open("/detail?playout=" + playout_name);
        }

        function DeleteFile( file_path ){
            $.post('/', { action: "Delete", path: file_path }, "");
        }

        function OpenFile( file_path ){
            window.open("/log?path=" + file_path);
        }

        function KillRedshift( agent_name ){
            $.post('/', { action: "KillRedshift", agent: agent_name }, "");
        }

        function CheckboxesState(State)
        {
            var Checkboxes = document.getElementsByClassName('CheckBox');
            var boolState = (State === 'true');

            for (i=0;i<Checkboxes.length;i++)
            {
                Checkboxes[i].checked=boolState;
            }
        }
    </script>

</body>
</html>
