<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Render Monitor</title>

    <script type="text/javascript" src="{{url_for('static',filename='dist/js/jquery-3.2.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='dist/jqueryui/jquery-ui.min.js')}}"></script>


    <script type="text/javascript" src="{{url_for('static',filename='dist/js/tabulator.min.js')}}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="{{url_for('static',filename='dist/css/custom.css')}}" rel="stylesheet">




    <title>Render Monitor</title>
</head>
<body>

    <h1> LUMA RENDER MONITOR </h1>

    <p><a href="{{ url_for('stats_dashboard') }}">Error Stats</a></p>

    <p id="debug">   </p>

    <div> Last updated: {{time|safe}}</div>

    <h2> Status </h2>
    {% for i in summary %}
        <div class={{i}}>{{i}} : {{summary[i]}}</div>
    {% endfor %}

    <h2> Links </h2>
    <div id="links"></div>






        <!-- sieves through all available playouts -->
        {% for playout in data %}

            <h2 class="default">   {{ playout._name }}</h2>

            <script>
                var div = document.createElement('div');

                    var new_link = document.createElement('a');
                    new_link.href = "#playout_{{playout._name}}";
                    new_link.innerHTML = "{{playout._name}}";
                div.appendChild(new_link);
                document.getElementById('links').appendChild(div);
            </script>

            <!--Div used to encapsulate playout information -->
            <div id="playout_{{playout._name}}" class="playout container">

                             <h3 class="default">Playout</h3>
                             <div class="row row-item {{playout._status}}_row default">
                                <div class="col-sm-2 default">{{playout._name}}</div>
                                 <div class="col-sm-1 default"></div>
                                 <div class="col-sm-2 default"></div>
                                <div class="col-sm-2 default">{{playout._agent}}</div>
                                <div class="col-sm-1 default">{{playout._time}}</div>
                                <div class="col-sm-1 default">
                                    <span class="{{playout._status}}">{{playout._status}}</span>
                                </div>

                                <button type="button" class="btn btn-warning col-sm-1" onclick="DeleteFile('{{playout._filename}}')">Restart</button>

                                {% if playout._logfile == "No File" %}
                                    <button type="button" class="btn btn-default col-sm-1" disabled onclick="OpenFile('{{playout._logfile}}')">Log</button>
                                {% else %}
                                    <button type="button" class="btn btn-info col-sm-1"  onclick="OpenFile('{{playout._logfile}}')">Log</button>
                                {% endif %}

                                <div class="col-sm-3"></div>

                            </div>

                        <h3 class="default">Main Clip</h3>
                        {% for subjob in playout._subjobs %}
                            {% if subjob._type == 'MainClip' %}

                            <div class="row row-item {{subjob._status}}_row default">
                                <div class="col-sm-2 default">{{subjob._name}}</div>
                                <div class="col-sm-1 default"></div>
                                <div class="col-sm-2 default"></div>
                                <div class="col-sm-2 default">{{subjob._agent}}</div>
                                <div class="col-sm-1 default">{{subjob._time}}</div>
                                <div class="col-sm-1 default">
                                    <span class="{{subjob._status}}">{{subjob._status}}</span>
                                </div>

                                <button type="button" class="btn btn-warning col-sm-1" onclick="DeleteFile('{{subjob._filename}}')">Restart</button>

                                {% if subjob._logfile == "No File" %}
                                    <button type="button" class="btn btn-default col-sm-1" disabled onclick="OpenFile('{{subjob._logfile}}')">Log</button>
                                {% else %}
                                    <button type="button" class="btn btn-info col-sm-1"  onclick="OpenFile('{{subjob._logfile}}')">Log</button>
                                {% endif %}

                                <div class="col-sm-3"></div>

                            </div>
                            {% endif %}

                                {% if subjob._type == 'MainClip' %}
                                    <h3 class="default">Sub Clips</h3>
                                {% endif %}

                                {% for subclip in subjob._subjobs %}
                                    {% if subclip._type == 'SubClip' %}

                                    <div class="row row-item {{subclip._status}}_row default">
                                        <div class="col-sm-2 default">{{subclip._name}}</div>
                                        <div class="col-sm-2 default"></div>
                                        <div class="col-sm-2 col-sm-pull-1 default additionalinfo">{{subclip._framerange}}</div>
                                        <div class="col-sm-1 default col-sm-pull-1">{{subclip._agent}}</div>
                                        <div class="col-sm-1 default">{{subclip._time}}</div>
                                        <div class="col-sm-1 default">
                                            <span class="{{subclip._status}}">{{subclip._status}}</span>
                                        </div>
                                        <button type="button" class="btn btn-warning col-sm-1" onclick="DeleteFile('{{subclip._filename}}')">Restart</button>

                                        {% if subclip._logfile == "No File" %}
                                            <button type="button" class="btn btn-default col-sm-1" disabled onclick="OpenFile('{{subclip._logfile}}')">Log</button>
                                        {% else %}
                                            <button type="button" class="btn btn-info col-sm-1" onclick="OpenFile('{{subclip._logfile}}')">Log</button>
                                        {% endif %}

                                        <div class="col-sm-3"></div>
                                    </div>


                                    {% endif %}
                                {% endfor %}

                        {% endfor %}

                        <h3 class="default">RS Renders</h3>
                        {% for render_job in playout._subjobs %}

                            {% if render_job._type == 'MainClip' %}

                            {% else %}
                            <div class="row row-item {{render_job._status}}_row default">
                                <div class="frame_heading default additionalinfo">Frame:</div>
                                <div class="col-sm-1 default"></div>
                                <div class="col-sm-2 default">{{render_job._name}}</div>

                                {% if not playout._ispreview %}
                                    {% if render_job._missing == True %}
                                        <div class="col-sm-3 default col-sm-pull-1 missing_files text-center">{{render_job._missingstring}}</div>
                                        <div class="col-sm-1 default col-sm-pull-1">{{render_job._agent}}</div>
                                    {% else %}
                                        <div class="col-sm-2 default hasfiles">{{render_job._missingstring}}</div>
                                        <div class="col-sm-2 default">{{render_job._agent}}</div>
                                    {% endif %}
                                {% else %}
                                    <div class="col-sm-2 default additionalinfo">{{render_job._previewoption}}</div>
                                    <div class="col-sm-2 default">{{render_job._agent}}</div>
                                {% endif %}

                                <div class="col-sm-1 default">{{render_job._time}}</div>
                                <div class="col-sm-1 default">
                                    <span class="{{render_job._status}}">{{render_job._status}}</span>
                                </div>

                                <button type="button" class="btn btn-warning col-sm-1" onclick="DeleteFile('{{render_job._filename}}')">Restart</button>

                                {% if not render_job._logfile == "No File" %}
                                    <button type="button" class="btn btn-info col-sm-1" onclick="OpenFile('{{render_job._logfile}}')">Log</button>
                                {% else %}
                                    <button type="button" class="btn btn-default col-sm-1" disabled onclick="OpenFile('{{render_job._logfile}}')">Log</button>
                                {% endif %}

                                {% if render_job._status == "Busy" %}
                                    <button type="button" class="btn btn-danger" onclick="KillRedshift('{{render_job._agent}}')">&nbsp&nbspKill RS&nbsp&nbsp</button>
                                {% endif %}

                                <div class="col-sm-1"></div>

                            </div>
                            {% endif %}

                        {% endfor %}
            </div>
    <p></p>

        {% endfor %}

    <script>



        function DeleteFile( file_path ){
            $.post('/', { action: "Delete", path: file_path }, "");
        }

        function OpenFile( file_path ){
            window.open("/log?path=" + file_path)
        }

        function KillRedshift( agent_name ){
            $.post('/', { action: "KillRedshift", agent: agent_name }, "");
        }




    </script>


</body>
</html>